annotated-types==0.7.0
anyio==4.4.0
apimatic-core==0.2.15
apimatic-core-interfaces==0.1.5
apimatic-requests-client-adapter==0.1.6
asgiref==3.8.1
beautifulsoup4==4.12.3
CacheControl==0.12.14
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==43.0.1
deprecation==2.1.0
distro==1.9.0
Django==4.2.15
django-paypal==2.1
django-user-agents==0.4.0
djangorestframework==3.15.2
exceptiongroup==1.2.2
filelock==3.15.4
fsspec==2024.9.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.24.6
idna==3.8
jiter==0.5.0
jsonpickle==3.0.4
jsonpointer==2.4
msgpack==1.1.0
openai==1.44.1
packaging==24.1
paypalhttp==1.0.1
pillow==10.4.0
pyClamd==0.4.0
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
pyee==11.1.0
pyOpenSSL==24.2.1
pytesseract==0.3.13
python-dateutil==2.8.2
python-whois==0.9.4
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-file==2.1.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.1
squareup==38.0.0.20240821
tldextract==5.1.2
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
ua-parser==0.18.0
urllib3==2.2.2
user-agents==2.2.0
