<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Discover powerful, affordable tools for website analysis, reverse image searches, and brand protection. Choose from our Basic, Standard, and Business plans, starting at just $1.99. Perfect for individuals, professionals, and enterprises needing high-volume analysis and API integration.">
    <meta name="author" content="Hezron Bii">
    <meta name="keywords"
          content="website analysis, reverse image search, brand protection, API integration, website scans, image search tools, business analysis tools, affordable analysis plans, comprehensive reports, SEO tools">
    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="isThisAscam.online"/> <!-- website name -->
    <meta property="og:site" content="www.isthisascam.online"/> <!-- website link -->
    <meta property="og:title" content="AI Meets Security: Your Ultimate Solution for Identifying and Avoiding Scams"/>
    <!-- title shown in the actual shared post -->
    <meta property="og:description"
          content="Protect yourself and your loved ones from fraud and deception. With IsThisAScam, you’re not just getting a tool—you're gaining peace of mind."/>
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="https://pixeliabucket.s3.us-west-1.amazonaws.com/appAssets/scmm.jpg"/>
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="www.isthisascam.online"/> <!-- where do you want your post to link to -->

    <!-- Webpage Title -->
    <title>Run Your Scam Analysis ,Website Analysis & Reverse Image Search | Instant Results & Comprehensive
        Reports </title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
          rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href=
            "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static  'css/main-mobile.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body class="{{theme}}">

<div class="sidebar" id="sidebar-switch" style="display:none">
    <div class="tooltip">
            <span class="tooltiptext">
              Open Sidebar
              </span>
    </div>
    <div class="sidebar-content"
         style="justify-content:space-between;display:flex;flex-direction: column;height:100%">
        <div class="conversation-list">
            <div class="conversation">
                <div style="display:flex;justify-content:space-between">
                    <p class="conversation-text">
                        <span style="font-size:18px;text-align:start">IsThisA<span style="color:red">Scam?</span></span>
                    </p>
                    <i class="fa fa-close" id="close-side-nav" style="font-size:24px"></i>
                </div>
                <ul id="quick-links" style="text-decoration:none;cursor:pointer;">
                    <li>Analyse conversation</li>
                    <li>Scan website</li>
                    <li>Reverse Image Search</li>
                    <li>Scam Recovery Assistance</li>
                    <li>Fraud Education Center</li>
                    <li>Scam Trends</li>
                    <li>Scam Heatmap</li>
                    <li>Community</li>
                    <li>Help</li>

                </ul>
            </div>
        </div>
        <button id="new-conversation-btn">
            Start New Conversation
        </button>
        <div style="padding:10px">
            <hr>
            <div style="display:flex;justify-content:space-around;">
                <div style="width:50px;">
                    <i class="fa fa-user" aria-hidden="true" style="font-size:25px"></i>
                </div>
                <p style="color:white">{{request.user.email}}</p>
            </div>
            <div style="display:flex;">
                <div style="width:80px;">
                    <p>Requests</p>
                </div>
                <p style="color:white">0</p>
            </div>
            <div style="display:flex;">
                <div style="width:80px;">
                    <p>Plan</p>
                </div>
                <p style="color:grey">Inactive</p>
            </div>
            <span>
                    <a class="btn-solid-sm" href="{% url 'landing' %}#pricing">UPGRADE</a>
                </span>
            <div>
                <small>Please note that remaining requests do not roll over to the next month</small>

            </div>
            <hr>
            <div>
                <a href="{% url 'logout' %} ">Log out<i class="fas fa-sign-out" style="margin-left:10px"></i></a>

            </div>
        </div>
    </div>
</div>
<div class="chat-container light-mode">
    <div class="chat-content">
        <div class="chat-header">
            <div class="logo-container" style="margin-left:10px" id="open-side-nav">
                <i class="fa fa-bars" style="font-size:24px"></i>
            </div>
            <div class="mode-toggle ">
                <label class="switch">
                    <input type="checkbox"
                           id="mode-toggle-checkbox">
                    <span class="slider round dark-mode"></span>
                </label>
            </div>

        </div>
        <div class="chat-box" id="chat-box"></div>
        <div class="input-container" style="width:90%">
            <i class="fas fa-upload start-icon" style="font-size:20px"></i> <!-- Icon at the start -->
            <textarea placeholder="How can I help you today?"></textarea>
            <i class="fa fa-paper-plane end-icon" style="font-size:20px"></i> <!-- Icon at the end -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#open-side-nav').on('click', function() {
            $('#sidebar-switch').css('display','block');
        });
        $('#close-side-nav').on('click', function() {
            $('#sidebar-switch').css('display','none');
        });
    });

</script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
